html {
	scroll-behavior: smooth;
  }

body{
	margin:auto;
	margin-bottom: 50px;
	width:1024px;
	padding:10px;
	background-color:#ebebeb;
	font-size:30px;
	font-family:'Times New Roman', Times, serif;
}

h1 {
	font-style: bold;
	color: rgb(2, 17, 32);
}

h2 {
	font-weight: normal;
}


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ebebeb;
	text-align: center;
	padding: 10px;
  }

centre {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.line {
	fill: none;
	stroke: slategrey;
	stroke-width: 0.5;
}
.line_HalfMilMark {
	stroke: red
}

.area {
	fill: grey;
}